ul {
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.u-mx-w {
  max-width: 440px;
}

.navbar-toggler--custom {
  background-color: #fff;
  border: #fff;
}
.navbar-toggler--custom:focus {
  border: #fff;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: currentColor;
}

body {
  color: #484949;
}

img {
  max-width: 100%;
}

/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* Medium */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Medium Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/* Semi-bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Semi-bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
/* Bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* Bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-bolditalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
/* Extra-bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Extra-bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-extrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
.heading-xxl {
  font: 600 clamp(2.63rem, 1.95rem + 3.38vw, 6rem) / 1.2 "Poppins", sans-serif;
}

.heading-xl {
  font: 600 60px/150% "Poppins", sans-serif;
  position: relative;
  display: inline-block;
}
.heading-xl::before {
  content: "";
  width: 124px;
  height: 70px;
  background: rgba(74, 180, 95, 0.22);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.heading-lg {
  font: 600 32px/150% "Poppins", sans-serif;
}

.heading-md {
  font: 300 clamp(1rem, 0.9rem + 0.5vw, 1.5rem) / 1.8 "Poppins", sans-serif;
}

.text-body-xl {
  font: 400 20px/200% "Poppins", sans-serif;
}

.text-body-lg {
  font: 400 18px/200% "Poppins", sans-serif;
  text-align: justify;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(3, 63, 115, 0.95),
      rgba(3, 63, 115, 0.95)
    ),
    url(../../assets/images/img_hero_bg.png);
  background-size: cover;
  background-position: top;
}

.navbar {
  background-color: #033f73;
}

.hero {
  padding-top: 32px;
  padding-bottom: 110px;
  color: #fff;
}
.hero__content {
  max-width: 1012px;
  margin: auto;
}

.footer {
  background: #033f73;
  padding-top: 100px;
  color: #fff;
}
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer__title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
  max-width: 325px;
}
.footer__nav-title {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__navigation {
  margin-top: 72px;
}
.footer__nav-link {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  opacity: 0.8;
  transition: transform 0.3s;
  display: inline-block;
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer__nav-link:hover {
  transform: translateX(12px);
}
.footer__navlist {
  list-style: none;
  padding: 0;
}
.footer__bottom {
  background-color: #fff;
  color: #222222;
  padding: 16px 0;
  margin-top: 72px;
}
.footer__logo {
  max-width: 100%;
}
.footer__copyrights {
  text-align: center;
  font-weight: 500;
  color: #222;
}

.section-text {
  text-align: center;
}

.about-us {
  margin-top: 68px;
}

.main__intro {
  margin-bottom: 80px;
}

.about-us__features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
.about-us__features-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top left;
}

main > * {
  margin-bottom: 120px;
}

.button {
  outline: none;
  border: 2px solid transparent;
  background: transparent;
  display: inline-flex;
  padding: 12px clamp(0.63rem, 0.37rem + 1.15vw, 1.75rem);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.button::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -110%;
  transform: translateY(-50%);
  opacity: 0.4;
  transition: left 0.4s;
}
.button:hover::before {
  left: 0;
}

.button--primary {
  background: #4ab45f;
}

.button--secondary {
  border: 2px solid #fff;
}
.button--tertiary {
  color: #222222;
  background: aliceblue;
  border: 2px solid #eee;
}

.search {
  color: #fff;
}
.search__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: none !important;
  border-bottom-width: 0;
  color: #fff !important;
}
.search__input:focus {
  background: transparent;
  outline: none;
  box-shadow: none;
  border-bottom-width: 100% !important;
}
.search__input::placeholder {
  color: #fff;
}

.fast-card {
  display: inline-flex;
  padding: 40px 34px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-top: 6px solid #033f73;
  background: #fff;
  box-shadow: 8px 8px 16px 0px rgba(61, 66, 167, 0.1),
    -8px -8px 16px 0px rgba(46, 49, 143, 0.1);
}
.fast-card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.fast-card__title {
  color: #232e52;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 218.4%; /* 61.152px */
}
.fast-card__text {
  color: #232e52;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}

.fast-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  gap: 28px;
}

.service-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 550px;
}
.service-card__content {
  padding: 32px;
  color: #232e52;
}
.service-card__title {
  font-size: 24px;
  font-weight: 600;
  max-width: 260px;
  margin-bottom: 24px;
}
.service-card__text {
  line-height: 28px;
}
.service-card__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.service-card__side {
  height: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.service-card__side--front {
  background-color: #fff;
}
.service-card__side--back {
  transform: rotateY(180deg);
}
.service-card__side--back-1 {
  background: #033f73;
}
.service-card__side--back-2 {
  background: #033f73;
}
.service-card__side--back-3 {
  background: #033f73;
}
.service-card:hover .service-card__side--front {
  transform: rotateY(-180deg);
}
.service-card:hover .service-card__side--back {
  transform: rotateY(0);
}
.service-card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.service-card__picture--1 {
  background-image: linear-gradient(
      to right bottom,
      rgba(74, 180, 95, 0.8156862745),
      #348a46
    ),
    url(../img/nat-5.jpg);
}
.service-card__picture--2 {
  background-image: linear-gradient(
      to right bottom,
      rgba(74, 180, 95, 0.8156862745),
      #348a46
    ),
    url(../img/nat-6.jpg);
}
.service-card__picture--3 {
  background-image: linear-gradient(
      to right bottom,
      rgba(74, 180, 95, 0.8156862745),
      #348a46
    ),
    url(../img/nat-7.jpg);
}
.service-card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.service-card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.service-card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(74, 180, 95, 0.8156862745),
    #348a46
  );
}
.service-card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(74, 180, 95, 0.8156862745),
    #348a46
  );
}
.service-card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(74, 180, 95, 0.8156862745),
    #348a46
  );
}
.service-card__details {
  padding: 3rem;
}
.service-card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.service-card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.service-card__details ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.service-card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.service-card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.service-card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.service-card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .service-card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .service-card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .service-card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .service-card:hover .service-card__side--front {
    transform: rotateY(0);
  }
  .service-card__details {
    padding: 1rem 3rem;
  }
  .service-card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 32px;
  }
  .service-card__price-box {
    margin-bottom: 3rem;
  }
  .service-card__price-value {
    font-size: 4rem;
  }
}

.takeaway {
  padding: 32px;
  background: #033f73;
  color: #fff;
}
.takeaway--services {
  background-color: #fff;
  color: #222222;
}
.takeaway--website-dev {
  background-image: url("../../assets/images/img_website_development.png");
  background-position: center;
  background-size: contain;
}
.takeaway__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 32px;
  max-width: 600px;
}
.takeaway__list {
  list-style: none;
}
.takeaway__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.takeaway__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 200%;
}
.takeaway__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; /* 36px */
}

.custom-accordion {
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1));
}
.custom-accordion__button {
  border-bottom: 1px solid #d9dbe9;
}
.custom-accordion__button::after {
  background-image: url("../../assets/icons/icon_accordion_plus.svg") !important;
}
.custom-accordion__button:not(.collapsed)::after {
  background-image: url("../../assets/icons/icon_accordion_dash.svg") !important;
}

.blog-card__frame {
  margin: auto;
}
.blog-card__photo {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.blog-card__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 56px;
}
.blog-card__title {
  color: #133240;
  font-size: clamp(1.63rem, 1.42rem + 0.9vw, 2.5rem);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  max-width: 800px;
}
.blog-card__details {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #3c545f;
}
.blog-card__author {
  color: #133240;
  font-weight: 600;
  line-height: 40px; /* 200% */
  margin: 0;
}
.blog-card__divider {
  width: 20px;
  height: 1px;
  background: #133240;
}
.blog-card__text {
  color: #343435;
  font-size: 18px;
  font-weight: 400;
  line-height: 2; /* 240% */
}

.custom-dropdown__menu {
  border-radius: 0;
  padding: 0;
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1));
}
.custom-dropdown__item {
  padding: 6px 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0901960784);
}
.custom-dropdown__item:hover {
  background-color: #033f73;
}
.custom-dropdown__item:hover > a {
  color: white;
  background: transparent;
}

.custom-dropdown:hover .custom-dropdown__menu {
  display: block;
}

.custom-dropdown__menu.dropdown-menu-end[data-bs-popper] {
  right: 0;
  left: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  right: 0;
  left: auto;
}

.demo-form {
  background: #fff;
  box-shadow: 0px 63.87317276px 83.7652740479px 0px rgba(51, 51, 51, 0.1);
  padding: 32px;
}
.demo-form__title {
  color: #033f73;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-bottom: 24px;
}
.demo-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.demo-form__input {
  border-radius: 0;
}
.demo-form__input::placeholder {
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}
.demo-form__policy {
  display: flex;
  gap: 8px;
  align-items: center;
}
.demo-form textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.choose-card {
  padding: 20px;
  box-shadow: 8px 8px 16px 0px rgba(61, 66, 167, 0.1),
    -8px -8px 16px 0px rgba(46, 49, 143, 0.1);
}

.grid__choose-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

/* Blog Card */
.single-blog {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.single-blog__thumbnail {
  width: 100%;
  object-position: top;
  max-height: 220px;
  object-fit: cover;
}
.single-blog__body {
  padding: 24px;
}

.single-blog__tag-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.single-blog__tag {
  color: #033f73;
  font-size: 12px;
  font-weight: 500;
}

.single-blog__title {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%; /* 28px */
}

.single-blog__text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.21px;
}
.single-blog__divider {
  background: #e2e2e2;
  height: 1px;
}

.single-blog__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.single-blog__date {
  color: #333;
  font-size: 12px;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.06px;
}

.recent-posts {
  border: 1px solid #ecf1f4;
  padding: 24px;
}
.recent-posts > :not(:last-child) {
  margin-bottom: 32px;
}
.recent-posts__heading {
  font-weight: 600;
  font-size: 24px;
  color: #333;
  margin-bottom: 32px;
}
.recent-post {
  padding-bottom: 16px;
  border-bottom: 1px solid #d1dbe3;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.recent-post:hover {
  transform: translateX(10px);
}
.recent-post__date {
  font-size: 14px;
  font-weight: 300;
}
.recent-post__title {
  font-size: 17px;
  color: #333;
}
.search-blog__date {
  font-size: 13px;
}
.search-blog__btn {
  color: #033f73 !important;
}

a.button--primary:hover {
  color: #fff;
}

@media (max-width: 767px) {
  .takeaway {
    padding: 20px;
  }
  .search-blog,
  .search-form .form-control,
  .search-pagination {
    width: 100% !important;
  }
  main > * {
    margin-bottom: 72px;
  }
}
