.footer {
  background: #033f73;
  padding-top: 100px;
  color: #fff;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__title {
    color: var(--white, #fff);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    max-width: 325px;
  }

  &__nav-title {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__navigation {
    margin-top: 72px;
  }
  &__nav-link {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    opacity: 0.8;
    transition: transform 0.3s;
    display: inline-block;

    display: flex;
    gap: 8px;
    align-items: center;
    &:hover {
      transform: translateX(12px);
    }
  }
  &__navlist {
    list-style: none;
    padding: 0;
  }
  // &__divider {
  //   opacity: 0.10000000149011612;
  //   background: var(--white, #fff);
  //   height: 1px;
  //   width: 90%;
  //   margin: 72px auto;
  // }
  &__bottom {
    background-color: #fff;
    color: #222222;
    padding: 16px 0;
    margin-top: 72px;
  }
  &__logo {
    max-width: 100%;
  }
  &__copyrights {
    text-align: center;
    font-weight: 500;
    color: #222;
  }
}
