.section-text {
  text-align: center;
}
.about-us {
  margin-top: 68px;
}
.main__intro {
  margin-bottom: 80px;
}

.about-us__features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;

  &-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top left;
  }
}

main > * {
  margin-bottom: 120px;
}
