.fast-card {
  display: inline-flex;
  padding: 40px 34px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;

  border-top: 6px solid #033f73;
  background: #fff;
  box-shadow: 8px 8px 16px 0px rgba(61, 66, 167, 0.1),
    -8px -8px 16px 0px rgba(46, 49, 143, 0.1);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  &__title {
    color: #232e52;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 218.4%; /* 61.152px */
  }

  &__text {
    color: #232e52;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
  }
}

.fast-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  gap: 28px;
}
