/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Semi-bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Semi-bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-bolditalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Extra-bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Extra-bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-extrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

// Typography
$heading-xxl: 600 clamp(2.63rem, calc(1.95rem + 3.38vw), 6rem) / 1.2 "Poppins",
  sans-serif;
$heading-xl: 600 60px/150% "Poppins", sans-serif;
$heading-lg: 600 32px/150% "Poppins", sans-serif;
$heading-md: 400 clamp(1rem, calc(0.9rem + 0.5vw), 1.5rem) / 150% "Poppins",
  sans-serif;
$heading-sm: 600 20px/150% "Poppins", sans-serif;

$text-body-xl: 400 20px/200% "Poppins", sans-serif;
$text-body-lg: 400 18px/200% "Poppins", sans-serif;

.heading-xxl {
  font: $heading-xxl;
}

.heading-xl {
  font: $heading-xl;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    width: 124px;
    height: 70px;
    background: rgba(74, 180, 95, 0.22);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.heading-lg {
  font: $heading-lg;
}

.heading-md {
  font: $heading-md;
}

.text-body-xl {
  font: $text-body-xl;
}

.text-body-lg {
  font: $text-body-lg;
  text-align: justify;
}
