/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Semi-bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Semi-bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-bolditalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Extra-bold */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Extra-bold Italic */
@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/poppins-extrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

// Typography
$heading-xxl: 600 96px/150% "Poppins", sans-serif;
$heading-xl: 600 60px/150% "Poppins", sans-serif;
$heading-lg: 600 32px/150% "Poppins", sans-serif;
$heading-md: 400 24px/150% "Poppins", sans-serif;
$heading-sm: 600 20px/150% "Poppins", sans-serif;

.heading-xxl {
  font: $heading-xxl;
}

.heading-xl {
  font: $heading-xl;
}

.heading-lg {
  font: $heading-lg;
}

.heading-md {
  font: $heading-md;
}
